body {
  background-image: url(https://images.unsplash.com/photo-1664199134378-459f80ded70c?ixlib=rb-1.2.1&ixid=MwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=916&q=80);
  height: 200 px;
}

h3 {
  text-align: left;
}

h1 {
  text-align: center;
}